<h1>Verify OTP </h1>
<%= form_for(@resource, url: verify_user_otp_path, html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: @resource %>

  <%= f.hidden_field :msisdn %>
  <div class="field">
    <%= f.label :otp %><br />
    <%= f.text_field :otp, autofocus: true %><br />
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
