<!DOCTYPE html>
<html>
  <head>
    <title>RedTrace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
    <%= link_to "log out", destroy_user_session_path, 'data-turbo-method': :delete %>
    <%= link_to "Set Password", new_user_otp_path %>
  </body>
</html>
